<% content_for :title, "Visualizar #{translate_model(TbPergunta)}" %>

<div class="card shadow mb-4">
  <%= component(:panel, :panel_header, title: translate_model(TbPergunta)) %>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th width="10%" style="text-align: right;">
          <b><%= translate_attr(TbPergunta, :nme_pergunta) %>:</b></th>

        <td><%= h @tb_pergunta.nme_pergunta %></td>
      </tr>
      <tr>
        <th width="10%" style="text-align: right;">
          <b><%= translate_attr(TbPergunta, :descricao) %>:</b></th>

        <td><%= h @tb_pergunta.descricao %></td>
      </tr>
      <tr>
        <th width="10%" style="text-align: right;">
          <b><%= translate_attr(TbPergunta, :peso) %>:</b></th>

        <td><%= h @tb_pergunta.peso %></td>
      </tr>
      </thead>
    </table>
    <div class="row">
      <div class="form-actions col-md-12">
        <%= link_to "Voltar", administracao_tb_perguntas_path, class: "btn btn-sm btn-default" %>
        <div class="pull-right">
          <%= link_to_edit edit_administracao_tb_pergunta_path(id: @tb_pergunta), label: 'Alterar' %>
        </div>
      </div>
    </div>
  </div>
</div>
